* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

p{
    font-size: 19pt;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer"
    ;
    background-image:url("images/banner_design_with_abstract1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    background-color: #172babcf  ;
    border-bottom: 2px solid rgb(201, 201, 255);
    margin: 5px auto 0 auto;
    border-radius: 0.5em;
}

.close {
    display: none;
}


nav ul{
    display: flex;
    justify-content: space-between;
    height: 4.5em;
    align-items: center;
}

nav ul li{
    list-style: none;
    cursor: pointer;
} 

nav ul li a{
    color:#fff;
    text-decoration: none;
    padding: 1em 2em ;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a:hover {
    background-color: #4ecffc ;
    transition: 0.2s;
    box-shadow: 1px 3px 12px 3px #000000;
    
}

header{
    min-height: 70vh;
    width: 96%;
    text-align: center; 
    grid-area: header;
    color: #fff;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.537);
    display: block;
    margin: 0 auto 8em auto;
    border-radius: 0 0 1em 1em;
    box-shadow: 1px 5px 12px 5px #000000;
}

.logo {
    color: #fff;
    background-color: transparent;
    padding:0 3em;
}



.header-content {
    text-transform: uppercase;
    padding-top: 10em;
}

.header-content h1{
    font-size: 3.5em;
}

.header-content p {
    font-size: 1.2em;
}

.home-btn{
    text-align: center;
}

.scroll-btn {
    padding: 1.5em 5em;
    border:none;
    color:#fff;
    border-radius: 4em 4em;
    cursor: pointer;
    background-color: #1634b4 ;
    border: 1px solid #1634b4;
    margin: 4.5em;

}

.scroll-btn:hover {
    color: #000;
    background: transparent;
    border: 1px solid #000;
    transition: 0.2s;
}

.smiley-text{
    max-width: 80%;
    display: block;
    text-align: justify;
    margin: auto;
    padding: 4em 0 0 0;
    color: #000000;
}


main{
    grid-area: main;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
}


.projects {
    background-color: rgba(255,255,255,0.9);
    color:#00b4dc;
    padding: 10em 4.5em;
    margin: auto;
    border-radius: 0.7em 0.7em 0 0;
}

.projects h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

.projects p {
    font-size: 1em;
}


.projects-area{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    margin: 8em 0;
    border: 2px solid #000;

}

.project-tile {
    width: 28vw;
    margin:auto;
    padding-bottom: 1em;
}

.project-tile img {
    border-radius: 0.5em;
}

.project-tile p {
    background-color: #019cbe;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    border-radius: 0 0 0.5em 0.5em;

}

iframe {
    border: 2px solid #000;
}

.report {
    background-color: #F3FDE8;
    padding: 20%;
    margin: auto;
    text-align: justify;
}
.report h1{
    padding-bottom: 2em;
    font-size: 2em;
}
.report p {
    padding-bottom: 1em;
}



form{
    border: 2px solid #000;
    margin: 5em auto;
    border-radius: 0.5em;
    padding: 1em;
    width: 30em;
    background-color: #a97afc56;
}

label {
    padding: 1em 0.5em;
    margin: 0.5em auto;
    display: block;
}

form input, textarea {
    padding: 0.9em 0.5em;
    margin: 0.5em auto;
    width: 25vw;
    border: none;
    border-radius: 0.4em;
    display: block;
}

textarea {
    resize: none;

}


footer {
    background-color: #4D6EFF;
    grid-area: footer;

}

.footer-area{
    padding: 7em 0 0.6em 0;
    max-width: 85%;
    margin: auto;
}

.footer-links p{
    font-size: 11pt;
}

.contact-btn {
    padding: 1.2em 4em;
    border: none;
    background-color: #1634b4;
    margin: 3em 0 17em 0;
    border-radius: 3px;
    color: #fff;
}

.contact-btn:hover{
    background-color: #fff;
    color: #B721FF;
}

.footer-links {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-links li {
    list-style: none;
    display: inline;
} 

.footer-links li a{
    text-decoration: none;
    color: #1634b4;
    font-size: 2em;
    margin-right: 0.5em;
}

.footer-links li a:hover{
    color:#EDE4FF;
}

@media (max-width: 800px){
    .projects-area {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        margin:8em 0;
    }
    .project-tile {
        width: 100%;
        margin:auto;
        padding-bottom: 1em;
    }   
    
    
    nav ul li a{
        color:#fff;
        text-decoration: none;
        padding: 0 2em;
    }
    .logo {
        display: none;
    }
    .close {
        display: block;
        padding: 6px;
        margin: 14px;
    }
}
