* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    background-color: green;
    min-height: 4.5em;
    align-items: center;
}

nav ul li{
    list-style: none;
    color:antiquewhite;
    cursor: pointer;
}
header{
    min-height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
}

.header-content {

}

.about {
    min-height: 100vh;
    background-color: #DCF2F1;
}

.projects {
    background-color: #EEF5FF;
}

.projects-area{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 5em;
}

.project-tile {
    max-width: 30em;
}

.video-demo {
    min-height: 100vh;
    background-color: #FFFBF5;
    padding: 5em;
}

.report {
    min-height: 100vh;
    background-color: #F3FDE8;
}

footer {
    min-height: 50vh;
    background-color: #EDE4FF;
}