* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;
    background-color: #EEF5FF;
}

nav {
    grid-area: nav;
}

nav ul{
    display: flex;
    justify-content: space-around;
    height: 4.5em;
    align-items: center;
    background-image:linear-gradient(19deg, #B721FF 0%,#21D4FD 110%);
}

nav ul li{
    list-style: none;
    cursor: pointer;
} 

nav ul li a{
    color:#fff;
    text-decoration: none;
}

header{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    text-align: center; 
    grid-area: header;
    color: #fff;
}

.logo {
    position: absolute;
    left: 4vw;
    top: 5vh;
    color: #fff;
}



.header-content {
    padding: 35vh 0 35vh 0;
    text-transform: uppercase;
}

.header-content h1{
    font-size: 4.5em;
}

.header-content p {
    font-size: 1em;
}

.scroll-btn {
    margin: 4em;
    padding: 1.5em 4em;
    border:none;
    color:#11009E;
    border-radius: 2.5em 2.5em;

}

.scroll-btn:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    transition: 0.2s;
}


main{
    grid-area: main;
}

.report {
    padding-top: 5em;
    max-width: 80%;
    margin: auto;
}

.video-demo {
    max-width: 80%;
    margin: auto;
    background-color: #FFFBF5;
}

.the-video {
    padding: 5em;
    height: 70vh;
    width: 60vw;
}

.projects {
    background-color: #EEF5FF;
    color:#11009E;
    padding-top: 5em;
    margin: auto;
    max-width: 90%;
}

.projects h1 {
    font-size: 2em;
}

.projects p {
    font-size: 1em;
}


.projects-area{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    border: 2px solid rgb(147, 1, 84);
    margin: 8em 0;
    
    
}

.project-tile {
    width: 28vw;
    margin:auto;
    border: 1px solid #000;
    padding: 1em 0;
}

.project-tile img {
    border-radius: 0.5em;
}

.project-tile p {
    background-color: grey;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    border-radius: 0 0 0.5em 0.5em;

}

.report {
    min-height: 100vh;
    background-color: #F3FDE8;
}

footer {
    min-height: 50vh;
    background-color: #EDE4FF;
    grid-area: footer;
}

@media (max-width: 800px){
    .projects-area {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        border: 2px solid rgb(147, 1, 84);
        margin:8em 0;
    }
    .project-tile {
        width: 100%;
        margin:auto;
        border: 1px solid #000;
        padding: 1em 0;
    }
}
